* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.canvas-container {
    width: 1024px;
    height: 1024px;
    overflow: auto;

    canvas {
        width: 1024px;
        height: 1024px;
    }
}
